# kafka-lag-exporter local test cluster
# See dockerhub for different versions of kafka and zookeeper
# https://hub.docker.com/r/wurstmeister/kafka/
# https://hub.docker.com/r/wurstmeister/zookeeper/
version: '2'
services:
  redis:
    container_name: redis
    hostname: redis
    image: redis:3.2.4
    ports:
      - "6379:6379"
  redis-commander:
    container_name: redis-commander
    hostname: redis-commander
    image: rediscommander/redis-commander:latest
    restart: always
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
    depends_on:
      - redis
  kafka-ui:
    image: provectuslabs/kafka-ui
    container_name: kafka-ui
    ports:
      - "8080:8080"
    restart: always
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
      - KAFKA_CLUSTERS_0_ZOOKEEPER=zookeeper:2181
  zookeeper:
    image: wurstmeister/zookeeper:3.4.6
    ports:
      - "2181:2181"
  kafka:
    image: wurstmeister/kafka:2.12-2.2.0
    ports:
      - "9094:9094"
      - "1099:1099"
    environment:
      HOSTNAME_COMMAND: "docker info | grep ^Name: | cut -d' ' -f 2"
      PORT_COMMAND: "docker port `hostname` 9094 | cut -d: -f 2"
      KAFKA_ADVERTISED_LISTENERS: INSIDE://:9092,OUTSIDE://_{HOSTNAME_COMMAND}:_{PORT_COMMAND}
      KAFKA_LISTENERS: INSIDE://:9092,OUTSIDE://:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_JMX_OPTS: "-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname=127.0.0.1 -Dcom.sun.management.jmxremote.rmi.port=1099"
      JMX_PORT: 1099
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - zookeeper
  kafka-producer-topic1:
    image: wurstmeister/kafka:2.12-2.2.0
    command: >
      bash -c "until kafka-topics.sh --zookeeper zookeeper:2181 --create --topic topic1 --partitions 1 --replication-factor 1 --if-not-exists; do echo \"Waiting for Kafka to be ready..\"; done
      && kafka-producer-perf-test.sh --topic topic1 --num-records 100000000 --record-size 10 --throughput 100 --producer-props bootstrap.servers=kafka:9092"
    depends_on:
      - kafka
  kafka-producer-topic2:
    image: wurstmeister/kafka:2.12-2.2.0
    command: >
      bash -c "until kafka-topics.sh --zookeeper zookeeper:2181 --create --topic topic2 --partitions 1 --replication-factor 1 --if-not-exists; do echo \"Waiting for Kafka to be ready..\"; done
      && kafka-producer-perf-test.sh --topic topic2 --num-records 100000000 --record-size 10 --throughput 200 --producer-props bootstrap.servers=kafka:9092"
    depends_on:
      - kafka
  # each kafka-consumer-test has its own consumer.id so it can be differentiated by consumer group information easily.
  kafka-console-consumer-group1-consumer1:
    image: wurstmeister/kafka:2.12-2.2.0
    command: >
      bash -c "until kafka-topics.sh --zookeeper zookeeper:2181 --create --topic topic1 --partitions 1 --replication-factor 1 --if-not-exists; do echo \"Waiting for Kafka to be ready..\"; done
      && kafka-console-consumer.sh --consumer-property group.id=kafka-console-consumer-group1 --consumer-property client.id=kafka-console-consumer-group1-consumer1 --consumer-property enable.auto.commit=true --topic topic1 --bootstrap-server kafka:9092 > /dev/null"
    depends_on:
      - kafka
  kafka-console-consumer-group1-consumer2:
    image: wurstmeister/kafka:2.12-2.2.0
    command: >
      bash -c "until kafka-topics.sh --zookeeper zookeeper:2181 --create --topic topic1 --partitions 1 --replication-factor 1 --if-not-exists; do echo \"Waiting for Kafka to be ready..\"; done
      && kafka-console-consumer.sh --consumer-property group.id=kafka-console-consumer-group1 --consumer-property client.id=kafka-console-consumer-group1-consumer2 --consumer-property enable.auto.commit=true --topic topic1 --bootstrap-server kafka:9092 > /dev/null"
    depends_on:
      - kafka
  kafka-console-consumer-group2-consumer1:
    image: wurstmeister/kafka:2.12-2.2.0
    command: >
      bash -c "until kafka-topics.sh --zookeeper zookeeper:2181 --create --topic topic2 --partitions 1 --replication-factor 1 --if-not-exists; do echo \"Waiting for Kafka to be ready..\"; done
      && kafka-console-consumer.sh --consumer-property group.id=kafka-console-consumer-group2 --consumer-property client.id=kafka-console-consumer-group2-consumer1 --consumer-property enable.auto.commit=true --topic topic2 --bootstrap-server kafka:9092 > /dev/null"
    depends_on:
      - kafka
