apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "kafka-lag-exporter.fullname" . }}-serviceaccount
  labels:
    app.kubernetes.io/name: {{ include "kafka-lag-exporter.name" . }}
    helm.sh/chart: {{ include "kafka-lag-exporter.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}