<configuration>
    <variable name="ROOT_LOG_LEVEL" value="INFO" />
    <variable name="KAFKA_LAG_EXPORTER_LOG_LEVEL" value="DEBUG" />
    <variable name="KAFKA_LAG_EXPORTER_KAFKA_LOG_LEVEL" value="DEBUG" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} %X{akkaSource} - %msg %ex%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/kafkalagexporter.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{ISO8601} %-5level [%-20.20thread] [%-36.36logger{36}]  %msg%n%rEx</pattern>
        </encoder>
    </appender>
    <logger name="org.apache.kafka" level="${KAFKA_LAG_EXPORTER_KAFKA_LOG_LEVEL}"/>
    <logger name="akka.kafka.test.testcontainers.logs" level="INFO" />
    <logger name="akka.kafka.testkit.internal" level="DEBUG" />
    <logger name="com.lightbend.kafkalagexporter" level="${KAFKA_LAG_EXPORTER_LOG_LEVEL}"/>
    <root level="${ROOT_LOG_LEVEL}">
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="FILE" />
    </root>
</configuration>